div.navbar {
    font-size: large;
    font-weight: bold;
}

a {
    text-decoration: none;
    padding: .5em 1em;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: black;
    text-decoration: none;
    background-color: #c488e3;
}

a:active {
    color: black;
}

div.month {
    background-color: #c488e3;
    width: 100%;
    height: 10em;
    text-align: center;
    font-weight: bold;
}

button.button-month {
    position: relative;
    width: 10em;
    height: inherit;
    background-color: inherit;
    border: none;
    outline: none;
}

button.button-month:hover {
    background-color: #000000;
    color: #ffffff;
}

button.prev-month {
    float: left;
}

button.next-month {
    float: right;
}

p.month-header {
    font-size: 3em;
    padding-top: 38px;
}

ul.weekdays {
    margin: 0;
    padding: 10px 0;
    background-color: #ddd;
}

th.weekday-today {
    background-color: #000000;
    color: white;
}

th {
    background-color: #666;
    padding: 10px;
    text-align: center;
    height: 4em;
}

div.days {
    background-color: #f0faf3;
    position: absolute;
    width: 100%;
    height: calc(100vh - 15em);
}

table.days_table {
    position: absolute;
    width: inherit;
    height: inherit;
}

td.day-today {
    border: 2px solid #001511;
}

th {
    background-color: #ecfdf4;
    padding: 10px;
    text-align: center;
    width: 14.3%;
}

td.day-not-in-month {
    color: #aaaaaa;
}

table.days_table td {
    padding: 8px;
    text-align: center;
}

table.days_table td:hover {
    background-color: #000000;
    color: white;
}

button.add-calender-entry {
    position: fixed;
    bottom: 2em;
    right: 2em;
    height: 4em;
    width: 4em;
    border-radius: 50%;
    background-color: #d7d7d7;
    border: none;
    outline: none;
    padding: 0;
    box-shadow: 0 0 15px 0 black;
}

button.add-calender-entry:hover {
    background-color: #c488e3;
}

div.new-entry-form {
    box-shadow: 0 0 15px 0 black;
    border-radius: 15px;
    position: relative;
    display: none;
    margin: -30px auto;
    padding: 10px;
    width: 465px;
    color: #ffffff;
    background-color: #000000;
}

table.new-entry-form {
    width: 445px;
}

table.new-entry-form td.new-entry-form-title {
    padding: 1.2em;
    text-align: center;
}

table.new-entry-form td.new-entry-form-title input {
    width: 20em;
    height: 2.5em;
    text-align: center;
}

table.new-entry-form td.new-entry-form-fullday {
    padding-left: 8px;
}

table.new-entry-form td.new-entry-form-fullday input {
    margin-top: 0.5em;
    transform: scale(1.8);
}

svg.new-entry-form-close {
    position: absolute;
    top: 0.7em;
    right: 0.7em;
}

svg.new-entry-form-close:hover {
    background: #c488e3;
}

input.new-entry-form-picture {
    width: 445px;
}

select.fstatus {
    height: 2em;
    width: 182px;
}

select.fcategory {
    height: 2em;
    width: 182px;
}

input.new-entry-form-save {
    height: 2em;
    width: 182px;
}

table.new-entry-form td.new-entry-form-save {
    padding-top: 1em;
    text-align: center;
}

.false-input {
    border: 2px solid red;
}

div.appointments-at-day {
    box-shadow: 0 0 15px 0 black;
    border-radius: 15px;
    position: relative;
    display: none;
    margin: 0 auto;
    padding: 10px;
    width: 500px;
    height: 600px;
    color: #ffffff;
    background-color: #000000;
}

p.appointments-at-day-text {
    width: 440px;
    text-align: center;
    font-size: x-large;
}

div.appointments-at-day-heading svg {
    float: right;
}

div.appointments-at-day svg:hover {
    background: #c488e3;
}

div.appointments-at-day-content {
    padding: 0.5em;
}

div.appointments-at-day-content-entry {
    border-radius: 15px;
    height: 3em;
    padding-top: 0.7em;
    padding-left: 0.7em;
}

div.appointments-at-day-content-entry:hover {
    cursor: pointer;
    background-color: #c488e3;
}

div.selected {
    background-color: #c488e3;
}

.blur {
    filter: blur(4px);
}

div.impressum {
    width: 80vw;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding: 5em;
    background: #dddddd;
}

#fsummary {
    resize: none;
}

#fimg {
    background-position: center center;
    background-repeat: no-repeat;
}