# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\kadenm\OneDrive - Hewlett Packard Enterprise\Uni\Web\WebEngineering2-DHBW\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
