div.login {
  box-shadow: 0 0 15px 0 black;
  border-radius: 15px;
  color: #ffffff;
  background-color: #000000;
  width: 20em;
  height: 20em;
  position: fixed;
  top: calc(50% - 10em);
  left: calc(50% - 10em);
  z-index: 5;
  padding: 2em;
}

div.login input {
  width: 16em;
}

div.login input.btn {
  margin-bottom: 10px;
}
