<div class="login" id="login">
  <form calss="login-form">
    <label for="userid">USER ID</label><br>
    <input type="text" id="fuserid" name="userid">
    <br><br>
    <label for="password">PASSWORD</label><br>
    <input type="password" id="fpassword" name="password">
    <br><br>
    <input type="button" class="btn btn-light" id="flogin" value="LOGIN" (click)="login()">
    <br>
    <input type="button" class="btn btn-light" id="fnewuser" value="NEW USER" (click)="newuser()">
  </form>
</div>
