div.navbar {
  font-size: large;
  font-weight: bold;
}

a {
  text-decoration: none;
  padding: .5em 1em;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: black;
  text-decoration: none;
  background-color: #c488e3;
}

a:active {
  color: black;
}
